---
import '~/styles/global.css';
---
<html lang="de">
  <head><title>Passionfruit</title></head>
  <body class="bg-surface text-text">
    <h1 class="text-accent">Passionfruit works</h1>
  </body>
</html>
